<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Segundo Parcial</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/Pokebola.svg.png') }}" rel="icon">
</head>

<body>
    <header class="header content">
        <div class="header-image">
            <img src= "{{ url_for('static', path='/fondo.jpg') }}">
        </div>
        <div class="header-content">
            <h1>Bienvenido</h1>
            <p>Parcial Realizado por:</p>
            <p>Alvaro David Avila Castro</p>
            <p> david_avilac</p>
            <a  href="/docs" class="btn">docs</a>
        </div>
    </header>
</body>

</html>
